DaaSWebClient/examples/xmls/tableRow.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Column" type="rowColumn"/>

  <xs:element name="Row" type="tableRow"/>

  <xs:complexType name="tableRow">
    <xs:sequence>
      <xs:element ref="Column" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rowColumn">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>

